body {
  background-color: #FFF1BC;
}

.topnav {
  background-color: #446E5C;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #7DC383;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #51A375;
  color: white;
}

.topnav a.active {
  background-color: #51A375;
  color: white;
}

p {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

h1.home { 
  text-align: center;
  text-decoration: underline;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

h2.home {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

.bodycopy {
  margin-right: 20%;
  margin-left: 20%;
}

div.room {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin-right: 20%;
  margin-left: 20%;
  border-radius: 25px;
  padding: 10px;
}

div.activities {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin-right: 20%;
  margin-left: 20%;
  border-radius: 25px;
  padding: 10px;
}

h1.page-headers {
  text-align: center;
  font-size: 50px;
}

.contact {
  margin-right: 20%;
  margin-left: 20%;
  border-radius: 25px;
  padding: 10px;
}

.homephoto {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;

}